<% @articles.each do |article| %>

  <div class="small-12 columns">
    <%#-- primary article details %>
    <h2><%= link_to article.title, article_path(article.id) %> <small><%= link_to "Edit", article_path(article.id) %></small></h2>
    
    <b><%= article.author %></b>
    <p>
      <%= article.content %>
    </p>
    
    <%# article action area %>
    <%= button_to "Delete", article, method: :delete %>
  </div>

  <hr>
  
<% end %>

<div>
  <p>
    <a href="/articles/new">New Article</a>
  </p>
</div>